@import url('fonts.css');


body {
    max-width: 1440px;
    font-family: 'Poppins';
}

.container {
    width: 90%;
    margin: 0 auto;

}

header {
    background-image: url("../images/kahrkiv-edit.png");
    background-size: cover;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(22 21 21 / 50%);
    padding-bottom: 12em;
    padding-top: .5em;
}


h1 {
    font-size: 2em;
}


.header-menu a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-right: 1em;
    transition: all 0.8s;
}

.header-menu .navigation a {
    position: relative;
}

.header-menu .navigation a::before {
    content: "";
    width: 0;
    background-color: #fff;
    border-radius: 0.5rem;
    display: inline-block;
    position: absolute;
    top: 1em;
    transition: width 0.8s;
}

.header-menu .navigation a:hover::before {
    width: 100%;
    padding: 0.1em;
}

.fa-bars {
    font-size: 1rem;
    color: #fff;
    padding: 0 .2em;
}

.header-menu .icon {
    display: none;
}

.article article {
    display: flex;
    margin: 4em;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.article h2 {
    flex: 0 1 auto;
    font-size: 1.5em;
    font-weight: 700;
}

.article p {
    flex: 0 1 auto;
    padding: 0 4em;
}

.city-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1em;

}

.city-images img {
    width: 100%;
}

.videos {
    margin-bottom: 2em;
}

.videos h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    padding: 2em 0;
}


.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.content video {
    width: 100%;
}



.subscription {
    width: 80%;
    background-color: rgb(102, 202, 102);
    text-align: center;
    margin: 2em auto;
    padding: 3em 1em;
}

.subscription h3 {
    padding: 1.5em 0;
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
}

.subscription form {
    display: flex;
    justify-content: center;

}

.subscription button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.subscription input {
    border: none;
    padding: .3em;
}

.subscription input:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.subscription button::before {
    content: '\f1d8';
    font-family: 'Font Awesome';
    font-size: 1em;
    color: green;
}

.footer {
    text-align: center;
    padding: 2em 0;
}

.social_media {
    color: #808080;
}

.social_media nav {
    margin: 0 auto;
    width: 65%;
    border-top: #808080 solid 2px;
    padding: 2em 0;
}

.social_media .navigation a {
    text-decoration: none;
    color: #000;
    position: relative;
}

.footer .navigation a::before {
    content: "";
    width: 0;
    background-color: rgb(102, 202, 102);
    border-radius: 0.5rem;
    display: inline-block;
    position: absolute;
    top: 1em;
    transition: width 0.8s;
}

.footer .navigation a:hover::before {
    width: 100%;
    padding: 0.1em;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-tiktok,
.fa-envelope {
    color: #808080;
    font-size: 1.5em;
    padding: 1em;
}

.selected {
    font-weight: 600;
}



svg text {
    font-family: 'Poppins';
    stroke: rgb(102, 202, 102);
    font-weight: 700;
    stroke-width: 3;
    animation: textAnimate 5s infinite alternate;

}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
        fill: hsl(180, 18%, 97%)
    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: hsla(189, 68%, 75%, 0%)
    }

}

.restaurants h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    padding: 2em 0;
}

.blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 1em;
}

.restaurant-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    position: relative;
}

.restaurant-block h3 {
    font-weight: 600;
}

.restaurant-block img {
    width: 100%;
}

.restaurant-info {
    display: none;
}

.js-toggle-visibility {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.restaurant-button {
    background-color: rgb(102, 202, 102);
    font-size: 0.7rem;
    border: none;
    border-radius: 25px;
    padding: 0.5em 1.5em;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.bar-culture {
    display: block;
    margin: 5em 0;
}

.bar-culture h2 {
    font-size: 1.5em;
    font-weight: 700;
    padding: 2em .5em;
    width: 30%;
}

.bar-culture-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.culture-block {
    width: 49%;
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 1.2;
}

.culture-block img {
    width: 100%;
}

.culture-block strong {
    font-weight: 700;
    font-size: 1.2em;
}

.slider {
    position: relative;
    width: 100%;
    margin: 2em 0;
}

.slider h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    padding: 2em 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper .swiper-pagination {
    position: relative;
    padding-top: 1em;
}

.swiper-slide {
    text-align: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: transparent;

}

.swiper-slide img {
    width: 80%;
    object-fit: cover;
}

.swiper-slide p {
    text-align: justify;
    font-size: 1em;
    width: 75%;
    padding: 0.5em;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.attraction-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin-top: 1em;
}

.attraction-image img {
    width: 33%;
}

.swiper-slide p strong {
    font-weight: 600;

}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 5% !important;
    left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 5% !important;
    right: auto;
}

.main-baner video {
    width: 100%;
}

.events-info {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

.all-events {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.events-block {
    display: flex;
    gap: 0.5em;
    border-bottom: rgba(0, 0, 0, 0.1) solid 2px;
    padding-bottom: 1.2em;
    line-height: 1.5;
    align-items: center;
}

.events-block h2 {
    font-weight: 500;
    font-size: 0.8em;
    padding-bottom: 0.5em;
}

.events-block h3 {
    font-weight: 700;
    padding-bottom: 0.5em;
}

.events-block p {
    font-size: 0.6em;
}

.events-block p:last-child {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0.5em;
}

.events-block img {
    width: 50%;
}

.recommend {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommend h2 {
    font-weight: 600;
    font-size: 0.9em;
    padding: 0 2em 1em;
    margin-bottom: 1em;
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}

.recommend-block {
    display: flex;
    gap: 0.5em;
    padding-bottom: 1em;
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
    margin-bottom: 1em;
}

.recommend-block img {
    width: 50%;
}

.recommend-block article {
display: flex;
flex-direction: column;
justify-content: space-between;
font-size: 0.8em;
}

.recommend-block article p {
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.5);
}

.contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
    gap: 2em;
}

.contacts form {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 0.5em;
}

.contacts label,
.contacts input,
.contacts textarea {
    display: block;
    width: 100%;
    box-sizing: content-box;
}

.form-control {
    margin-bottom: 1em;
    line-height: 1.5;
}

textarea {
    min-height: 10em;
}

.form-control input,
.form-control textarea {
    padding: 0.5em;
}

.contacts h2 {
    font-weight: 600;
    padding: 1em 0;
    text-align: center;
    font-size: 1.2em;
}

.contacts a {
    text-decoration: none;
    color: #000;
    margin: 0.5em 0;
}

.contacts form a:first-child::before {
    content: '\f2a0';
    font-family: 'Font Awesome';
    font-size: 1.2em;
    margin-right: 0.2em;
}

.contacts form a:nth-child(2)::before {
    content: '\f0e0';
    font-family: 'Font Awesome';
    font-size: 1.2em;
    margin-right: 0.2em;
}

.location {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.location iframe,
.location object,
.location embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contacts button {
    width: 25%;
    padding: 0.5em 1em;
    background-color: rgb(102, 202, 102);
    border: none;
    color: #fff;
    cursor: pointer;
}

.contacts button::before {
    content: '\f1d8';
    font-family: 'Font Awesome';
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 70%;
    }

    .header-menu {
        flex-direction: column;
        padding-bottom: 6em;
    }

    .article p {
        padding: 0 2em;
    }

    .content {
        grid-template-columns: 1fr 1fr;
    }
    .recommend-block {
        flex-direction: column;
    }

    .recommend-block img {
        width: 100%;
    }

    .slider .swiper-button-prev,
    .slider .swiper-button-next {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .blocks {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .events-block {
        flex-direction: column;
    }

    .events-block img {
        width: 100%;
    }

    

   

    .contacts {
        flex-direction: column;
    }

    .contacts form {
        width: 75%;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 70%;
    }

    .header-menu {
        flex-direction: row;
        align-items: flex-end;
        position: relative;
    }

    svg text {
        font-size: 1.2em;
    }

    .header-menu .icon {
        display: flex;
        margin-bottom: 1em;
    }

    .navigation {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        top: 100%;
        left: 0;
        gap: 0.5em;
        width: 100%;
        height: 220px;
        background-color: rgb(102, 202, 102);
        opacity: 0.9;
        font-size: 1.5em;
        z-index: 20;
    }

    .article article {
        flex-direction: column;
    }

    .article p {
        padding: 0 1em;
    }

    .city-images {
        grid-template-columns: 1fr;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .bar-culture-blocks {
        flex-direction: column;
        align-items: center;
    }

    .culture-block {
        width: 100%;
    }

    .bar-culture h2 {
        width: 50%;
    }

    .bar-culture {
        margin-top: 3em;
    }


}