@import url('fonts.css');

body {
    max-width: 1440px;
    font-family: 'Poppins';
}

.container {
    width: 90%;
    margin: 0 auto;

}

header {
    background-image: url("../images/kahrkiv-edit.png");
    background-size: cover;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(22 21 21 / 50%);
    padding-bottom: 6em;
}



h1 {
    font-size: 2em;
}

.header-menu a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-right: 1em;
}

.header-menu .navigation a {
    position: relative;
}

.header-menu .navigation a::before {
    content: "";
    width: 0;
    background-color: #fff;
    border-radius: 0.5rem;
    display: inline-block;
    position: absolute;
    top: 1em;
    transition: width 0.8s;
}

.header-menu .navigation a:hover::before {
    width: 100%;
    padding: 0.1em;
}


.article article {
    display: flex;
    margin: 4em;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.article h2 {
    flex: 0 1 auto;
    font-size: 2em;
    font-weight: 700;
}

.article p {
    flex: 0 1 auto;
    padding: 0 4em;
}

.city-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1em;

}

.city-images img {
    width: 100%;
}

.videos {
    margin-bottom: 2em;
}

.videos h2 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    padding: 2em 0;
}


.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.content video {
    width: 100%;
}



.subscription {
    width: 80%;
    background-color: rgb(102, 202, 102);
    text-align: center;
    margin: 2em auto;
    padding: 3em 1em;
}

.subscription h3 {
    padding: 1.5em 0;
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
}

.subscription div {
    display: flex;
    justify-content: center;

}

.subscription button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.subscription input {
    border: none;
    border-radius: 0;
    padding: .3em;
}

.subscription input:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.subscription button::before {
    content: '\f1d8';
    font-family: 'Font Awesome';
    font-size: 1em;
    color: green;
}

.footer {
    text-align: center;
    padding: 2em 0;
}

.social_media {
    color: #808080;
}

.social_media nav {
    margin: 0 auto;
    width: 65%;
    border-top: #808080 solid 2px;
    padding: 2em 0;
}

.social_media .navigation a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    position: relative;
}

.footer .navigation a::before {
    content: "";
    width: 0;
    background-color: rgb(102, 202, 102);
    border-radius: 0.5rem;
    display: inline-block;
    position: absolute;
    top: 1em;
    transition: width 0.8s;
}

.footer .navigation a:hover::before {
    width: 100%;
    padding: 0.1em;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-tiktok {
    color: #808080;
    font-size: 1.5em;
    padding: 1em;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 70%;
    }

    .header-menu {
       flex-direction: column;
       padding-bottom: 1.5em;
    }

    .content {
        grid-template-columns: 1fr 1fr;
    }


}

@media screen and (max-width: 480px) {
    body {
        font-size: 50%;
    }

    .header-menu {
        padding-bottom: .5em;
    }

    .navigation {
        flex-direction: column;
        gap: 0.5em;
    }


    .city-images {
        grid-template-columns: 1fr;
    }

    .content {
        grid-template-columns: 1fr;
    }

}
  
  svg text {
    font-family: 'Poppins';
    stroke: rgb(102, 202, 102);
    font-weight: 700;
    stroke-width: 3;
    animation: textAnimate 5s infinite alternate;
    
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(180, 18%, 97%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
    
  }